*.Rhistory
*.fa.gz
*.fai
*.fas.gz
*.fasta
*.fasta.gz
*.fastq
*.fastq.gz
*.fq.gz
*.gff
*.gff3
*.html
*.ignore
*.info
*.log
*.nhr
*.nin
*.nsq
*.pdf
*.png
*.ppt
*.pptx
*.unwrapped
*.xls
*.xlsx
*.zip
*~
.~lock*
00_archive/log_files/*
03_data/indexed*
04_annotation/*
05_results/*
TODO.md
go_enrichment
wget_genbank_commands.txt
